@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@source "../node_modules/flowbite";

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  header ul {
    list-style: none;
  }

  h1 {
    @apply text-2xl font-extrabold;
  }

  h2 {
    @apply text-xl font-bold;
    font-family: 'Roboto Slab';
  }

  strong {
    @apply font-semibold;
  }

  pre {
    @apply p-1 bg-gray-300 text-black;
  }

}

.primary-btn {
  @apply items-center gap-2 px-4 py-2 rounded-sm transition bg-blue-600 hover:bg-blue-800 text-white;
}

.secondary-btn {
  @apply items-center space-x-3 rounded-sm border border-blue-600 px-4 py-2 hover:bg-blue-700 hover:text-white;
}
